//max-width of displays
@desktop:1200px;
@tablet:992px;
@phone:767px;
@small-phone:479px;

/*---containers---*/
@_container-width: 1190px;
/*---fonts---*/
@base-font-color: #151515;
@base-font-size: 15px;
@base-line-height: 22px;
@secondary-font-color: #6A983C;

@regular-font-size:@base-font-size - 3px;
@regular-line-height: @base-line-height - 6px;

@Href-font-size:@base-font-size - 3px;
@Href-line-height:@base-line-height - 6px;


/*---common blocks---*/
._container {
    max-width: @_container-width;
    margin: 0 auto;
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 10px;
  }
  @media (max-width: @tablet) {
    ._container {
      max-width: 900px;
    }
  }
    @media (max-width: @phone) {
    ._container {
      max-width: 730px;
    }
  }
    @media (max-width: @small-phone) {
    ._container {
      max-width: none;
    }
  }
