/*---containers---*/
/*---fonts---*/
/*---common blocks---*/
._container {
  max-width: 1190px;
  margin: 0 auto;
  box-sizing: border-box;
  padding-left: 10px;
  padding-right: 10px;
}
@media (max-width: 992px) {
  ._container {
    max-width: 900px;
  }
}
@media (max-width: 767px) {
  ._container {
    max-width: 730px;
  }
}
@media (max-width: 479px) {
  ._container {
    max-width: none;
  }
}
.Hlink {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #6A983C;
}
.Hlink:link,
.Hlink:active,
.Hlink:visited,
.Hlink:focus {
  text-decoration: none;
}
