@import "../common.less";
.Hlink {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: @base-font-size - 3px;
    line-height: @base-line-height - 6px;
    color: @secondary-font-color;
}
a:link,
a:active,
a:visited,
a:focus {
  text-decoration: none;
}