@import "../common.less";
.category-menu {
    display:flex;
    flex-direction: column;
    //flex-grow:1;
    //justify-content: space-between;
    &-list {
      &-item {
        margin-bottom: 12px;
        margin-right: 10px;
        text-decoration: underline;
        &:nth-last-child(1) {
          margin-bottom: 5px;
          margin-right: 0;
        }
      }
    }
  }

@media (max-width:@small-phone) {
  .category-menu {
    flex-direction: column;
    align-items: flex-start;
    grid-column: span 1;

    &-list {
      flex-direction: column;
      align-items: flex-start;

      &-item {
        font-size: 18px;
        padding-top: 7px;
        padding-bottom: 7px;
      }
    }
  }
}