/*---containers---*/
/*---fonts---*/
/*---common blocks---*/
._container {
  max-width: 1190px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0 10px;
}
@media (max-width: 992px) {
  ._container {
    max-width: 900px;
  }
}
@media (max-width: 767px) {
  ._container {
    max-width: 730px;
  }
}
@media (max-width: 479px) {
  ._container {
    max-width: none;
  }
}
/*banner-section-----------------------------------------------------------------------------------*/
.banner-section {
  padding-top: 64px;
  padding-bottom: 64px;
}
.banner-section__box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.banner-section__menu {
  min-width: 266px;
}
.banner-section__banner {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 420px;
  height: 280px;
  box-sizing: border-box;
  padding: 48px 33px 32px 33px;
  border-radius: 12px;
  background: #F4F8EC url("../../img/banner-background.png") no-repeat;
  background-size: cover;
}
.banner-section__banner-subfocus {
  margin-bottom: 8px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: #6A983C;
}
.banner-section__banner-heading {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
  color: #151515;
}
.banner-section__banner-button {
  align-self: start;
  margin-top: auto;
}
@media (max-width: 1200px) {
  .banner-section {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .banner-section__banner {
    max-width: 380px;
  }
  .banner-section__menu {
    min-width: 200px;
  }
}
@media (max-width: 992px) {
  .banner-section__box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
  .banner-section {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .banner-section__banner {
    max-width: none;
  }
  .banner-section__menu {
    grid-column: span 2;
  }
}
@media (max-width: 767px) {
  .banner-section__banner {
    padding: 20px 16px 16px 16px;
  }
}
@media (max-width: 650px) {
  .banner-section__box {
    grid-template-columns: 1fr;
  }
  .banner-section__menu {
    grid-column: span 1;
  }
}
