.banner-section {
  padding-top: 64px;
  padding-bottom: 64px;
}
.banner-section__box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.banner-section__menu {
  min-width: 266px;
}
@media (max-width: 1200px) {
  .banner-section {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .banner-section__menu {
    min-width: 200px;
  }
}
@media (max-width: 992px) {
  .banner-section__box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
  .banner-section {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .banner-section__menu {
    grid-column: span 2;
  }
}
@media (max-width: 767px) {
  .banner-section__banner {
    padding: 20px 16px 16px 16px;
  }
}
@media (max-width: 650px) {
  .banner-section__box {
    grid-template-columns: 1fr;
  }
  .banner-section__menu {
    grid-column: span 1;
  }
}
